flex-item-left{

  display:flex;
  
  gap: 5px;
  
  }

  .bluecolor {
    color:dodgerblue;
  }
  table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  th,
  td {
    background-color: #d4b496;
  }
  .div{
    float: left;

    }
  