/* Reset CSS */
/*
* {
  box-sizing: border-box;
}
*/
body {
  background-color: rgba(247, 226, 95, 0.698);
}
body {
margin: 0px;
padding: 0px;
}

/* Navigation */

#topbar {
background-color: #275838af;
}

#nav-logo {
float: left;
}

#menu a {
color: rgb(247, 242, 242);
display: inline-block;
padding: 10px;
}

  .bluecolor {
    color:dodgerblue;
  }
  table,
  th,
  td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  th,
  td {
    background-color: #d4b496;
  }
  .div{
    float: left;

    }
  